@charset "utf-8";
/* CSS Document */
.footer{
		background:#644838;
		overflow: auto;	
		color: rgba(255,255,255,1.00);
		}
		.footer_left{
			float: left;
			clear: both;
			margin-left: 100px;
			
		}
		.footer_right{
			float: right;
			margin-right: 100px;
		}
