@charset "utf-8";
/* CSS Document */
		.nav{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 60px;
			background-color:#c86818;
			z-index: 1000;
		}
		.nav_main{
			list-style-type: none;
			width: 60%;
			color: rgba(255,255,255,1.00);
			font-weight: bold;
			margin: 0px auto
		}
		.nav_main li{
			float: left;
			padding: 0 50px;
			line-height: 60px
		}
		.nav_main li a{
			text-decoration: none;
			color: inherit;
			font-size: 17px
		}
		.nav_main li a:hover{
			background-color:rgba(246,173,42,1.00);
		}
