@charset "utf-8";
/* CSS Document */
		.image-container{
			position: relative;
			width: 800px;
			max-height: 800px;
			margin: 0 auto;
		}
		
        .image-part {
            position: absolute;
            /*transition: transform 0.3s ease; /* 平滑放大动画 */
            /*transform-origin: center bottom; /* 从底部中心放大 */
        }
        
        /* 每个部分的定位（根据实际图片调整） */
        #part1 {
            top: 0;
            left: 0;
            width: 800px;
            z-index: 1;
        }
        #part2 {
            top: 0px;
            left: 0px;
            width: 800px;
            z-index: 2;
        }
        #part3 {
            top: 0px;
            left: 0px;
            width: 800px;
            z-index: 3;
        }
        #part4 {
            top: 0px;
            left: 0px;
            width: 800px;
            z-index: 4;
        }
        #part5 {
            top: 0px;
            left: 0px;
            width: 800px;
            z-index: 5;
        }
        /* 悬停放大效果 */
        /*.image-part:hover {
            transform: scale(1.15);
            z-index: 10 !important; /* 确保放大时在最上层 */
            /*filter: drop-shadow(0 0 5px rgba(0,0,0,0.3)); /* 可选：添加阴影增强立体感 */
        /*}
